.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    background: linear-gradient(150deg, #E2E2E2 60%, white);
    padding: 4rem 0;

    .container_img{
        opacity: 0.2;
        min-width: 100px;
        object-fit: cover;
        transition: 300ms ease-in-out;
        pointer-events: none;
        &:hover{
            opacity: 1;
        }
    }
}

@media screen and (max-width: 968px){
    .container{
        width: 100%;
        flex-direction: column;
        .container_img{
            margin-bottom: 5rem;
            opacity: 1;


            &:nth-last-child(-n+1){
                margin-bottom: 0;
            }
        }
    }
}