@import '../../style/style.scss';


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    // padding: 2rem;

    .container__twoSection{
        width: 100%;
        height: 100vh;
    }

}


@media screen and (max-width: 968px){
    .container{
        width: 100%;

        .container__twoSection{
        width: 100%;

            height: auto;
        }
    }
}