.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 3rem auto;
    padding: 3rem;
    border-radius: 10px;
    position: relative;

    .container__lefth{
        display: flex;
        flex-direction: column;
        width: 65%;
        p{
            font-size: 1rem;
            color: white;
            
            &:nth-child(1){
                margin-left: .5rem;
            }
            &:nth-child(3){
                margin-top: 1rem;
                margin-left: .5rem;
            }
        }

        h3{
            font-size: 7rem;
            color: white;
            white-space: pre-wrap;
            line-height: 99px;
        }

        img{
            position: absolute;
            top: -100px;
            left: 100px;
            max-width: 100%;
            pointer-events: none;
        }
    }

    .container__right{
        display: flex;
        flex-direction: column;
        width: 35%;

        p{
            color: white;
        }

        h4{
            color: white;
            font-size: 3rem;
        }

        button{
            width: 120px;
            border: none;
            border-radius: 50px;
            padding: 13px;
            margin-top: 2rem;
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 968px){
    .container{
        flex-direction: column;
        padding: 2rem;

        .container__lefth{
            width: 100%;

            img{
                position: relative;
                top: 0px;
                left: 0px;
            }

            h3{
                font-size: 6rem;
            }
        }

        .container__right{
            width: 100%;
        }
    }
}