.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-top: 2rem;

    .container__social__group{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        width: 45px;
        height: 45px;
        border: 2px solid white;
        cursor: pointer;
        overflow: hidden;
        text-decoration: none;
        transition: all 800ms ease;

        i{
            font-size: 1.3rem;
            color: black;
        }
    }
}

@media screen and (max-width: 968px){
    .container{
        width: 100%;
        .container__social__group{
            min-width: 50px;
        }
    }
}